.table{
    margin-right: 300px;
    margin-left: 300px;
      }

.oszlop1{
    width: 80px;
}

body{
    background-color: rgb(106, 241, 140);
}

.jobbra{
    margin-left: 500px;
}

.sarga{
    height: 200px;
    width: max-content;
    background-color: rgb(249, 253, 7);
  }

.pulik{
    margin-bottom: 2100px;
}

a, a:visited {
    color: rgb(94, 94, 77);
    text-decoration: none;
}

.kistabla{
    width: 700px;
}

.kistablamasodik{
    margin-left: 200px;
}