.table{
    margin-right: 300px;
    margin-left: 300px;
      }

.oszlop1{
    width: 80px;
}

body{
    background-color: rgb(106, 241, 140);
}

.jobbra{
    margin-left: 500px;
}

.sarga{
    height: 200px;
    width: max-content;
    background-color: rgb(255, 255, 0);
  }

.pulik{
    margin-bottom: 2100px;
}

a, a:visited {
    color: rgb(94, 94, 77);
    text-decoration: none;
}

.kistabla{
    width: 700px;
}

.kistablamasodik{
    margin-left: 200px;
}

#tortenete, #meretei, #rokonfajtak, #kulleme, #szinei, #jelleme, #hires{
    color: rgb(255, 255, 0);
}

p{
    text-align: justify;
}

hr{
    color: rgb(255, 255, 0);
    border: "2px";
}

.jobbkep{
    width: 70px;
    float: right;
    padding: 5px 0px 20px 5px;
}

.kozepre{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.kep{
    width: 400px;
}

.jobb{
    text-align: center;
}
